:root {
  --logo-text: #fff;
  --hero-text: #94cfff;
  --button-color: #26c7ea;
  --hero-title: #0a3853;
  --text-paragraf: #0a3853;
  --main-title: #141414;
  --color-paragraf: #000;
}

body {
  font-family: "Headland One", "sans-serif";
}

.container {
  width: 1032px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.header {
  background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/derevo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-box {
  padding-top: 34px;
  padding-bottom: 35px;
}



.header-img {
  width: 186px;
  height: 72px;
  background-repeat: no-repeat;
  margin-right: 168px;
  
}

.header-list {
  display: flex;
}

.header-item {
  color: var(--logo-text);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2;
margin-right: 38px;
margin-top: 63px;
}

.header-button {
  color: var(--button-color);
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  background-color: var(--text-paragraf);
  border-radius: 35px 2px;
  margin-left: 212px;
}

.hero-brave {
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 464px;
  
}

.hero-text {
  color: var(--logo-text);
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.hero-button {
  color: var(--button-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  background-color: var(--text-paragraf);
  border-radius: 45px 0px;
}

.quote-title {
  color: var(--text-paragraf);
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
}

.quote-text {
  color: var(--color-paragraf);
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
}

.quote-bird {
  width: 400px;
  height: 120px;
}

.traile-button {
  color: var(--button-color);
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  background-color: var(--text-paragraf);
  border-radius: 45px 0px;
}

.citation-title {
  color: var(--main-title);
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
}

.citation-text {
  color: var(--color-paragraf);
  text-align: justify;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.citation-bird {
  width: 400px;
  height: 120px;
}

.language-caption {
  color: var(--main-title);
  text-align: justify;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.language-title {
  color: var(--main-title);
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.language-leftarrow {
  width: 152px;
  height: 40px;
}

.language-smalbird {
  width: 152px;
  height: 40px;
}

.language-arrow {
  width: 152px;
  height: 40px;
}

.language-text {
  color: var(--color-paragraf);
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.mother-title {
  color: var(--main-title);
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22;
}

.mother-text {
  color: var(--color-paragraf);
  text-align: justify;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

mother-bird {
  width: 400px;
  height: 120px;
}

.footer-logo {
  width: 183px;
  height: 70px;
}

.footer-text {
  color: var(--logo-text);
  text-align: justify;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.footer-link {
  color: var(--logo-text);
  text-align: justify;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
